/ {
    rotary_encoder_1: rotary_encoder_1 {
        compatible = "gpio-rotary-encoder";
        label = "Rotary Encoder Right";
        a-gpios = <&gpio1 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; // P1.13
        b-gpios = <&gpio1 14 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; // P1.14
        encoding = "gray";
        steps = <1>;
    };
};

&behaviors {
    rot_kp_r: rot_kp_r {
        compatible = "zmk,behavior-rotary-encoder";
        label = "Brightness Encoder";
        #binding-cells = <2>;
        sensor = <&rotary_encoder_1>;
    };
};