/ {
    rotary_encoder_0: rotary_encoder_0 {
        compatible = "gpio-rotary-encoder";
        label = "Rotary Encoder Left";
        a-gpios = <&gpio0 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; // P0.10
        b-gpios = <&gpio0 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;  // P0.09
        encoding = "gray";
        steps = <1>;
    };
};

&behaviors {
    rot_kp: rot_kp {
        compatible = "zmk,behavior-rotary-encoder";
        label = "Volume Encoder";
        #binding-cells = <2>;
        sensor = <&rotary_encoder_0>;
    };
};