/ {
    rotary_encoder_0: rotary_encoder_0 {
        compatible = "gpio-rotary-encoder";
        label = "Rotary Encoder Left";
        a-gpios = <&gpio0 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>; // Cambiar si usás otro pin
        b-gpios = <&gpio0 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        encoding = "gray";
        steps = <1>;
    };
};

&behaviors {
    rot_kp: rot_kp {
        compatible = "zmk,behavior-rotary-encoder";
        label = "Volume Encoder";
        #binding-cells = <2>;
        sensor = <&rotary_encoder_0>;
    };
};